<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Notes</string>
		<string>Main</string>
		<string>Cloud</string>
		<string>Controller</string>
		<string>Controller_Minter</string>
		<string>Controller_SplitScreen</string>
		<string>Controller_VirtualStick</string>
		<string>LaserBeam</string>
		<string>Random</string>
		<string>Ship</string>
		<string>Ghost</string>
		<string>Spark</string>
		<string>Scenery</string>
		<string>Repeater</string>
		<string>Group</string>
		<string>Bounds</string>
		<string>Misc</string>
	</array>
	<key>Created</key>
	<date>2011-11-23T18:24:56Z</date>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
